head
    style
        include style.css


    div
        form(action='/editUser' method='post')
            div.centerMe
                label( for='idVal') User Id:
                input#idVal(name='id' value= editedUser.id)
            div.centerMe
                label( for='usernameVal') Username:
                input#usernameVal(name='username' value= editedUser.username)
            div.centerMe
                label( for='emailVal') User Email:
                input#emailVal(name='email' value= editedUser.email)
            div.centerMe
                label( for='passwordVal') User Password:
                input#passwordVal(name='password' value= editedUser.password)
            div.centerMe
                label( for='ageVal') User age:
                input#ageVal(name='age' value= editedUser.age)
            input(type="submit" value='submit')
    a(href='/delete/' + editedUser.id) Delete
