html
    head
        style
            include style.css


    body
        div.wrapperLIOS
            div.loginOrSignUp
                //div.loginB
                //    a(href="login") log in
                div.signUpB
                    a(href='/signUp') Sign up
