head


body
    form(action="/login" method="post")
        div
            label(for='username') Username
            input#username(name="username")
        div
        //    label(for='emailaddress') Email Address
        //    input#emailaddress(name="emailaddress")
        //div
        //    label(for='age') Age
        //    input#age(name="age")
        div
            label(for='password') Password
            input#password(name="password")
        input(value="Submit" type="submit")