//div= user.username
//div= user.age
//div= user.email

div

    each user in users
        div.indUser
            p UserId:
                span=user.id
            p User Name:
                span=user.username
            p Email:
                span=user.email
            p Age:
                span=user.age
            a(href="/edit/" + user.id) Edit

